.iml
.gradle
*/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Android Studio / IntelliJ IDEA 
*.iws
.idea/libraries
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml

**/build

# Android related
**/**/**/gradle-wrapper.jar
**/*/.gradle
**/**/captures/
**/*/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/**/key.properties
*.jks
proguard-rules.pro

theParker/.idea/workspace.xml
*/app/google-services.json
theParker/app/src/debug/res/google_maps_api.xml
google_maps_api.xml
